#main {
    background-color: #EEEEEE;
    margin: 25px 0;
    padding: 25px 5px;
    border-radius: 5px;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
#main h1 {
    font-size: 2.7em;
    font-weight: 700;
}
#img-div {
    background-color: white;
    margin: 10px;
    padding: 10px;
}
#img-div img {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
#img-div #img-caption {
    margin: 10px 0 5px 0;
}
#tribute-info h3 {
    margin: 50px 0;
}
#tribute-info ul {
    text-align: left;
    line-height: 1.6;
    max-width: 550px;
    margin: 0 auto;
}
#tribute-info ul li {
    margin-bottom: 20px;
}
#tribute-info h4 a {
    color: #477ca7;
}